@import "tailwindcss";

@theme {
    --color-primary: #37FF8B;
    --color-pdark: #00a7ac;
    --color-black: #1a1423;
    --color-grey: #dee7f7;
    --color-darkg: #302343;
    --color-darkbg: #22192F;
    --color-offwhite: #eff3fb;
    --color-neutral: hsl(220, 60%, 96%);
    --color-white: #ffffff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
